/* .button{
    background-color: #551869;
    border: none;
    border-radius: 8px;
    padding: 5px 40px;
    font-size: 25px;
    color: white;
} */

.button {
    background-color: #551869;
    border: none;
    border-radius: 8px;
    padding: 5px 40px;
    font-size: 25px;
    color: white;
  }
  